@import 'variables.scss';

.developer {
  background-image: url("../images/Background.svg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
  

  .developer-social {
    position: absolute; 
    top:256px;
    left: -110px;
    width: 338px;
    height: 24px;
    opacity: 1; 
    z-index: 1;
    display: flex;
    flex-direction: row; 
    align-items: center;
    transform: rotate(-90deg);

    .developer-social__text{
      font-family:'Roboto','sans-serif';
      font-size: 16px;
      font-weight: 700;
    }

    .developer-social-line{
      width: 70px; 
      height: 2px; 
      background-color: #000; 
      margin: 10px auto; 
    }

    .developer-social-icon{
      margin: 5px 0 0 15px;

      .developer-social-icon-link{
        text-decoration: none;
        
        .developer-social-icon-link__item{
          transform: rotate(90deg);
          margin-right: 10px;
          cursor: pointer;
        }
      }
    }
  }

  .developer-wrapper{
    margin: 0 auto;
    width: $width-wrapper;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family:'Roboto','sans-serif';
    margin-top:206px ;
    margin-bottom: 362px;
    

    .developer-wrapper__name{
      font-family:'Roboto','sans-serif';
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      margin:0 0 9px 10px;
      position: relative; 
      z-index: 1;

      .developer-wrapper__name_circle {
        @include circle; 
        position: absolute; 
        z-index: -1; 
        top: 50%; 
        left: -10px; 
        transform: translateY(-50%); 
        opacity: 1;
      }
    }

    .developer-wrapper__city{
      width: 532px;
      height: 129px;
      font-family: 'Poppins', sans-serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 60px;
      text-align: left;
      margin-bottom: 25px;
    }

    .developer-wrapper-button{
      display: flex;
      font-family: 'Poppins', sans-serif;
      

      .developer-wrapper-button__portfolio{
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        align-items: center;
        width: 135px;
        height: 45px;
        font-size: 14px;
        font-weight: 700;
        background-color: #FFA501;
        border: 1px solid #FFA501;
        font-weight: 700;
        font-size: 14px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
      }

      .developer-wrapper-button__aboutme{
        cursor: pointer;
        border: none;
        background:none ;
        width: 135px;
        height: 45px;
        font-weight: 700;
        font-size: 14px;
      }
    }
  }


  .developer-burger {
    position: absolute;  
    top: 20px;        
    right: 30px;     
    z-index: 1000; 
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    .developer-burger-menu {
      width: auto;      
      height: auto;     
    }

    .developer-burger-menu_hover:hover{
      transform: rotate(180deg); 

    }
  }

  .developer-burger-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7); 
    z-index: 999; 
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &.overlay-visible {
      opacity: 1;
      visibility: visible;
    }
  }

  .developer-burger-sidebar{
    background-color: #FFA501;
    width: 30vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(-290%); 
    transition: transform 0.3s ease-in-out;


    &.sidebar-show {
      transform: translateX(0%);
      transition: transform 0.3s ease-in-out;
    }

    .developer-burger-sidebar__close{
      position: absolute;
      right: 25px;
      top: 25px;
      cursor: pointer;
    }

    .developer-burger-list{
      text-align: start;
      margin-left: 75px;
      margin-top: 140px;

      .developer-burger-list_item{
        font-family: 'Roboto',sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: #FFFFFF;
        text-transform: uppercase;
        box-sizing: border-box;
        list-style: none;
        position: relative;
        padding-left: 30px; 
        padding-bottom: 15px;
        cursor: pointer;
      }

      .developer-burger-list_item_before::before{
        content: '';
        position: absolute;
        left: 0;
        top:15px;
        transform: translateY(-50%);
        width: 15px; 
        height: 15px; 
        border-radius: 50%;
        border: 1px solid #000000; 
      }
    }

    .developer-burger-socials{
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;


      .developer-burger-social-link__icon{
        transform: rotate(90deg);
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        margin-top: 170px;
        margin-right: 15px;
        cursor: pointer;
      }
    }
  }
}


@media (max-width: 1310px){
  .developer-social {
    display: none !important;
  }
}

@media (max-width: 1160px){
  .developer-wrapper{
    width: 90% !important;
  }
}

@media (max-width: 1160px){
  .developer-burger-list_item{
    font-size: 20px !important;
  }
}

@media (max-width: 980px){
  .developer-burger-list{
    margin-left: 30px !important;
  } 

  .developer-burger-list_item{
    font-size: 14px !important;
    padding-top:6px !important;
  }

  .developer-burger-social-link__icon{
    margin-top: 100px !important;
  }
}

@media (max-width: 700px){

  .developer-burger-sidebar{
    background-color: #FFA501;
    width: 70vw !important;
    height: 100vh;
  }
  .developer-burger-list{
    margin-left: 30px !important;
  } 

  .developer-burger-list_item{
    font-size: 20px !important;
    padding-top:0px !important;
  }
}

@media (max-width: 520px){
  .developer-wrapper__city{
    width: 280px !important;
    height: 129px !important;
    font-size: 28px !important;
  }

  .developer-wrapper-button__portfolio{
    width: 120px;
    font-size: 12px;
  }

  .developer-wrapper-button__aboutme{
    width: 120px;
    font-size: 12px;
  }
}

