$width-wrapper:1140px;

@mixin circle {
  width: 36px;
  height: 36px;
  gap: 0px;
  opacity: 1;
  background-color: #FFA501;
  border-radius: 50%;  
}

@mixin small-circle {
  width: 15px;
  height: 15px;
  gap: 0px;
  opacity: 1;
  background-color: #FFA501;
  border-radius: 50%; 
}

*{
  padding: 0;
  margin: 0;
}